*{
	margin:0px;
	padding:0px;
	font-family:tahoma;
}

header{
	margin:100px auto;
	width:1000px;
	height:230px;
	background-color:red;
}
div.mainmenu{
	width:200px;
	height:230px;
	float:left;
	transition:height .8s
}
div#Home{
	background-color: rgb(208,101,3);
}

div#Contect{
	background-color: rgb(233,147,26);
}

div#Service{
	background-color: rgb(22,145,190);
}

div#Prodect{

	background-color: rgb(22,107,162);

}

div#Helpline{
	background-color: rgb(27,54,71);
}
img.Icon{
	display:block;
	margin:50px auto;
	background-color:rgba(255,255,255,0.15);
	width:40px;
	padding:20px;
	border-radius:50%;
	box-shadow:0px 0px 0px 30px rgba(255,255,255,0);
	
	
}
p.Text{
	font-size:12px;
	color: white;
	text-align: center;
	padding-top:10px;
	opacity:0.6px;
	transition:padding-top.8s;
}

div.mainmenu:hover{
	height:250px
	}
div.mainmenu:hover p.Text{
	padding-top:30px;
	}	
div.mainmenu:hover img.Icon{
     box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
	 transition:box-shadow .4s
}
